<h1 class="text-center">Listing all articles</h1>
     <div class="row justify-content-center">
       <div class="flickr_pagination">
         <%= will_paginate @articles %>
       </div>
      </div>
      <% @articles.each do |article| %>
        <div class="card mt-1 shadow mb-2 bg-white rounded">
          <div class="card-header font-italic text-center p-1">
            <% if article.user %>
              By <%= link_to article.user.username, user_path(article.user) %>
            <% end %>
          </div>
          <div class="card-body p-2">
            <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
            <p class="card-text small"><%= truncate(article.description, length: 100) %></p>
            <% if article.categories.any? %>
              <p>Categories: <%= render article.categories %></p>
            <% end %>
            <div class="row justify-content-md-center">
              <%= link_to "View", article_path(article), class:"btn btn-outline-success m-1 btn-sm", role:"button" %> 
              <% if logged_in? && (article.user == current_user || current_user.admin?) %>
                <%= link_to "Edit", edit_article_path(article), class:"btn btn-outline-info m-1 btn-sm", role:"button" %> 
                <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-danger m-1 btn-sm", role:"button" %> 
              <% end %>
            </div>
          </div>
          <div class="card-footer text-muted p-1">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at)%> ago</small>
          </div>
        </div>
      <% end %>
