<h2><%=@article.title%></h2>

<div class="card mt-2 shadow mb-4 bg-white rounded">
          <div class="card-header font-italic p-1 text-center">
            By <%= @article.user.username if @article.user %>
            <%= link_to gravatar_for(@article.user, size:50), user_path(@article.user), class:"text-right" %>
          </div>
          <div class="card-body p-3">
            <div class="card-text"><%= simple_format(@article.description) %></div>
            <div class="row justify-content-md-center">
              <%= link_to "Edit", edit_article_path(@article), class:"btn btn-outline-info m-1", role:"button" %> 
              <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-danger m-1", role:"button" %> 
            </div>
          </div>
          <div class="card-footer text-muted p-1">
            <small>Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at)%> ago</small>
          </div>
        </div>
