<div class="row">
  <div class="col">
  </div>
  <div class="col-8 p-0">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-5 px-0">
            <div class="h1 display-4 text-center pt-6" >
              <%= link_to "Alpha Blog", root_path %>
            </div>
        </div>
        <div class="col align-self-end pl-0">
            <% if logged_in? %>
                <p class="text-right font-italic mb-3"><%= "(Admin) " if current_user.admin? %><%= current_user.username%></p>
            <% else %>
                <p class="text-right font-italic mb-3 text-success"ยบ><%= link_to 'Sign up', signup_path %></p>
            <% end %>
        </div>
    </div>
    <nav class="navbar nav-justified navbar-dark bg-primary flex-sm-row">
      <%= link_to "All Articles", articles_path, class:"text-light flex-sm-fill text-sm-center nav-link" %>
      <% if logged_in? %>
        <%= link_to "New Article", new_article_path, class:"text-light flex-sm-fill text-sm-center nav-link" %> 
      <% else %>
        <%= link_to "New", "#", class:"text-black-50 flex-sm-fill text-sm-center nav-link" %>
      <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCategories" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <i class="fas fa-tags fa-lg"></i>
            </span>
          </button>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUsers" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <i class="fas fa-users fa-lg"></i>
            </span>
          </button>
    </nav>
        
    <div class="collapse text-right" id="navbarUsers">
      <div class="bg-primary p-4">
        <% if logged_in? %>
          <%= link_to 'View your profile', user_path(current_user), class: "dropdown-item" %>
          <%= link_to 'Edit your profile', edit_user_path(current_user), class: "dropdown-item" %>
          <%= link_to 'Delete your profile', user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } %>
        <div class="dropdown-divider"></div>
          <%= link_to 'Log out', logout_path, class: "dropdown-item", method: :delete %>
        <% else %>
          <%= link_to 'Log in', login_path, class: "dropdown-item" %>
        <% end %>
        <div class="dropdown-divider"></div>
          <%= link_to "Bloggers", users_path, class: "dropdown-item"%>
      </div>
    </div>
    <div class="collapse text-right" id="navbarCategories">
      <div class="bg-primary p-4">
        <%= link_to 'Categories', categories_path, class: "dropdown-item" %>
        <% if logged_in? && current_user.admin? %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Create New Category', new_category_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>