<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/cf745f8504.js" crossorigin="anonymous"></script>
  </head>

  <body>
   
   <div class="container" id="homecont">
        
            <%= render 'layouts/navbar' %>
            
        <div class="row justify-content-md-center">
            <div class="col">
            </div>
            <div class="jumbotron col-8 mt-2 mb-0">
                <%= yield %>
            </div>
            <div class="col">
            </div>
            <%= render 'layouts/messages' %>
        </div>
    </div>
    
  </body>
</html>
